all:
  hosts:
%{ for name, host in hosts ~}
    ${name}:
      ansible_host: ${host.ansible_host}
      access_ip: ${host.access_ip}
      ip: ${host.ip}
      ansible_user: ${host.ansible_user}
%{ endfor ~}
  children:
    kube_control_plane:
      hosts:
        master:
    kube_node:
      hosts:
        master:
        worker1:
        worker2:
    etcd:
      hosts:
        master:
    k8s_cluster:
      children:
        kube_control_plane:
        kube_node: